<div class="container">
    <div class="d-flex justify-content-center">
        <div class="column">
            <ngx-datatable [rows]=" tasks$ | async" [columns]="columns">
            </ngx-datatable>
        </div>
        <div class="row">
            <form>
                <div class="col-sm">
                    <label class="form-label">Sort by status</label>  
                </div>
                <div class="row-sm">
                    <select class="selectpicker form-control" [formControl]="status" >
                        <option value="All">All</option>
                        <option value="ToDo">ToDo</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
