<div class="container">
    <div class="d-flex justify-content-center">
        <div class="column">
            <ngx-datatable [rows]="tasks" [columns]="dataService.columns">
            </ngx-datatable>
            <div class="d-flex justify-content-center">
                <div class="col-sm">
                    <input type="text" class="form-control col-sm" placeholder="Name of the task" [(ngModel)] = "name">
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-danger col-sm" style="margin-left: 5px;" (click)="deleteTask()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
