<div class="container-sm">
    <div class="row">
        <div class="col-sm">
        </div>  
        <div class="col-sm">
            <div class="col-sm">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)] = "name">
            </div>
            <div class="col-sm">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" [(ngModel)] = "description">
            </div>
            <div class="col-sm">
                <label class="form-label">Status</label>
                <select class="form-select" [(ngModel)] = "status">
                    <option value="ToDo">ToDo</option>
                    <option value="InProgress">InProgress</option>
                    <option value="Done">Done</option>
              </select>
            </div>
            <label class="form-label" style="color:#ca2735;margin-top: 5px; margin-bottom: -1px;" *ngIf="!nonEmpty">Заполните все поля</label>
            <div class="col-sm d-flex justify-content-center">
                <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="addTask()">New Task</button>
            </div>  
        </div> 
        <div class="col-sm">
        </div>       
    </div>
</div>


  
  
